<<<<<<< HEAD
<p id="deleteUserById"></p>
<a href="/api/usuarios/create" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Registrar usuario</a>
=======

<a href="/api/usuarios/create" class="btn btn-primary" tabindex="-1" role="button"
aria-disabled="true">Registrar Usuario</a>
>>>>>>> main
<div class="row">
    {{#each usuarios}}
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.AREA}}</h5>
        <p class="card-text">{{this.CORREOUSUARIO}}</p>
        <p class="card-text">{{this.NOMBREUSUARIO}}</p>
<<<<<<< HEAD
        <a href="/api/usuarios/edit/{{this.ID_USUARIO}}" class="btn btn-warning">actualizar</a>

        <button type="button"  class="btn btn-danger" onclick="deleteUserById({{this.ID_USUARIO}})">eliminar</button>

=======
        <a href="/api/usuarios/edit/{{this.ID_USUARIO}}" class="btn btn-warning">Actualizar</a>
        <a href="#" class="btn btn-danger">Eliminar</a>
>>>>>>> main
      </div>
    </div>
  </div>
  {{/each}}
</div>

<<<<<<< HEAD
<script src="/js/usuarios/delete.js"></script>

=======
<script src=""></script>
>>>>>>> main
